<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />

<title>Zaza Rec Sys</title>
{% block extrahead %}{% endblock %}
</head>
<body>

  <div id="main_content">
    <div id="top_banner">
      <a id="top_banner_link" href="/accounts/profile"> </a>
      <ul class="menu">
	<li>
	  <form name="search" action="/search" method="get" style="float:right;">
	    <b>Search:</b> <input type="text" name="query" value="{{query}}"/>
	    <input type="submit" value="submit"/>
	  </form>
	</li>
      </ul>

  </div>
  
    
    <div id="page_content">
      <div id="left_section">
	{% block leftcontent %}
	{% if not logged_in   %}
	<div class="left_box" >
	  <span style="color:#7B0E10; font-weight:bold; font-size:14px; padding:10px;">USERS LOG IN</span>
	  <img src="/static/images/user-icon.png" width="37" height="27" alt="user" title="user"/>
	  <div id="login">
	    {% if error_message %}
	    <p class="errornote">{{ error_message }}</p>
	    {% endif %}
	    <div id="login">
	      <form action="/accounts/login/" method="post" id="login-form">
		<table>
		  <tr><th>
		      <label for="id_username">Username:</label>
		    </th><td>
		      <input type="text" name="username" id="id_username" class="input" /></td></tr>
		  <div class="clear"></div>
		  <tr><th>
		      <label for="id_password">Password:</label>
		    </th><td>
		      <input type="password" name="password" id="id_password" class="input" /></td></tr>
		  <input type="hidden" name="this_is_the_login_form" value="1" />
		  <div class="clear"></div>
		</table>
		<div class="clear"></div>
		<label>&nbsp;</label><input type="submit" class="submit" value="Log in" />
		<input type="button" name="new_user" value="New User" class="new_user" id="New" />
		<div class="clear"></div>
	      </form>
	      <script type="text/javascript">
		document.getElementById('id_username').focus()
	      </script>
	    </div>
	  </div>
	  
	  {% else %}
	  <div class="left_box_border">
	    <div class="left_box">
	      <span style="color:#7B0E10; font-weight:bold; font-size:14px; padding:20px;">{{ cusername }}</span>
	      <img src="/static/images/user-icon.png" width="37" height="27" alt="user" title="user"/>
	      <div id="login">
		<div id="login">
      <p> Welcome <b> {{ cuser.user.first_name }} {{ cuser.user.last_name }}</b></p>
		  <p id="login-form"> from <b>{{ cuser.location }}</b></p>
		</div>
		<div style="padding-bottom:5px;">
		<p>&nbsp;&nbsp;&nbsp;<b><a href='/accounts/logout'>Logout</a></b></p>
		</div>
	      </div>
	    </div> 
	    {% endif %}
	  </div> 
	  {% endblock %}
	  {% block left_extras %}
	  {% endblock %}
	</div>
      </div>

      <div id="right_section">
	{% block rightcontent %}{% endblock %}
      </div>
      
      <div id="footer">
	<div id="copyrights">
	  Zaza Rec Sys.&copy; All Rights Reserved 2010
      </div>
	<div>
	  <ul class="footer_menu">
      </ul>
	</div>
	<div id="madeby">
	  <a href="http://127.0.0.1:8000"><img src="/static/images/thsf.jpg" width="200" height="35"  border="0" alt="Thsf" title="Thsf"/></a><br />
	</div>
      </div>
    </body>
  </html>
  
