{% extends "zaza/base.html" %}
{% block extrahead %}
  <script type="text/javascript" src="/static/js/jquery-1.4.2.js"></script>
  <script type="text/javascript" src="/static/js/scripts.js"></script>
{% endblock %}


{% block rightcontent %}            	
<div class="right_box">
  <div class="title"> WELCOME  TO Zaza Recommendation System</div>
  <div class="content">Zaza Recommendation System is intented to be an implementation of Collaborative Filtering System which is one of the widely used strategy having applications in a diverse range of domains. Almost all applications in internet is using some sort of recommendation algorithm to provide the users with a wide range of suggestions.	</div>
</div>

<div class="right_box">
  <img src="/static/images/pic3.jpg" width="240" height="95" class="pic_border" alt="pic3" title="pic3"  />
  <div class="title_small"> MOVE FORWARD WITH US</div>
  <div class="content">
    <p>Come and experience a new way of finding interesting stuff and share it between your friends and family. Discover newer items suggested to you. Have fun in reading.</p>
  </div>
</div>

<div class="right_box">
  <div id="right_box_1">
    <div class="title"> Features</div>
    
    <ul class="services">
      <li><a href="#" class="nav_services">Get book recommendations</a></li>
      <li><a href="#" class="nav_services">Discuss books</a></li>
      <li><a href="#" class="nav_services">Rate books</a></li>
      <li><a href="#" class="nav_services">Find interesting books</a></li>
      <li><a href="#" class="nav_services">Find similar books</a></li>
    </ul>
    
  </div>
  <div id="right_box_2">
    <div class="title">Popular Books</div>
    <div class="news_box">
      <img src="{{book1.imgs}}"  height="83"  alt="pic5" title="pic5" class="pic_news"  />
      <a href="/book/{{book1.isbn}}" class="title">
	{{ book1.title }}</a>
    </div>
    
    <div class="news_box">
      <img src="{{book2.imgs}}"  height="74"  alt="pic5" title="pic5" class="pic_news"  />
      <a href="/book/{{book2.isbn}}"class="title">
	{{ book2.title }}</a>
    </div>
  </div>
</div>
{% endblock %}


