{% extends "zaza/base.html" %}

{% block extrahead %}
<script type="text/javascript" src="/static/js/jquery-1.4.2.js"></script>
 <script type="text/javascript" src="/static/js/scripts.js"></script> 
{% endblock %}

{% block left_extras %}
<div class="left_box_border">
  <div class="left_box">
    <div class="title" id="rated_books" style="text-align:center;position:relative;">Books Rated</div>
    <div class="clear"></div>
    <div class="title" id="search" style="text-align:center;position:relative;"><a href="#">Search Books</a></div>
    <div class="clear"></div>
  </div> 
</div>
{% endblock %}


{% block rightcontent %}
<div class="right_box">
  <div class="title">Recommendations for you:</div>
  <div class="content">
    {% for reco in recos %}
    <div class="title">
      <img src="{{ reco.imgs }}"class="pic"/>
      <a href='/book/{{reco.isbn}}'>{{ reco.title }}</a>
    </div>
      <div class="content">
	<span style="color:#7B0E10; padding:0px;">Isbn No: {{ reco.isbn }} </span>
	<span style="color:#7B0E10; padding:10px;">Author: {{ reco.author }} </span>
      </div>
      <div class="clear"></div>    
      {% endfor %}
  </div>
</div>
{% endblock %}






